---
import Layout from "../layouts/Layout.astro";
import CivLists from "../components/civList";
import CivSynergies from "../components/civSynergies";
import Stage from "../components/stage";
import CivSelected from "../components/civSelectedList";
import { multiplier } from "../components/multiplier";
// export const metaTitle = "Shared civ bonus - ";
---

<script>
  window.sa_event =
    window.sa_event ||
    function () {
      var a = [].slice.call(arguments);
      window.sa_event.q
        ? window.sa_event.q.push(a)
        : (window.sa_event.q = [a]);
    };
</script>
<script async defer src="https://simple.maybelatergames.co.uk/latest.js"></script>
<noscript><img src="https://simple.maybelatergames.co.uk/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>

<Layout title={`Shared civ bonus - ${multiplier()}x`}>
  <main>
    <CivSelected client:load />
    <div class="flex flex-col gap-10 w-full m-auto p-12">
      <CivSynergies client:load />
      <Stage client:load />
      <CivLists client:load />
      <p>boosted units</p>
    </div>
  </main>
</Layout>
