---
import CivSelect from './civSelect'
import Multiplier from './multiplier'
---

<div class="relative z-50 h-16 grid grid-cols-3 items-center px-6 bg-indigo-900 text-white">
    <h1 class="text-xl font-semibold">AOE:DE - Shared civ bonus</h1>
    <CivSelect client:load />
    <Multiplier client:load/>
</div>